@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Meera+Inimai&family=Poppins&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar-menu {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  color: white;
  padding: 12px 5% 10px 5%;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.main-heading {
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  color: #ff6b00;
  font-size: 56px;
  margin: 0;
}

.sub-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin: 0;
}

.main-body {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  background-image: url(images/Main-Page-Design.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 120px 5%;
}

.main-body p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin: 0 0 24px;
}

.icon {
  display: flex;
  gap: 21px;
  list-style: none;
}

/* Work Section */
.work-section {
  padding: 0 5% 24px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.work-div {
  justify-content: center;
}

.recent-work-underline hr {
  height: 0;
  border: 1px solid #212121;
}

.work-div h1 {
  padding: 100px 0 24px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.main-card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.main-card-div h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.main-card-div p {
  font-family: "Inter", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding: 0 0 12px;
}

.main-card-div li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.about-section li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  padding: 10px 0;
}

.sub-card li {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
}

.main-card-div ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0 0 12px;
  gap: 12px;
}

.btn {
  border: none;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.sub-card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
  margin: 30px;
  gap: 24px;
}

.sub-card {
  display: flex;
  flex-direction: column;
  background-image: url(images/sub-card.svg);
  background-size: 100%;
  height: 100%;
  padding-top: 24px;
  color: #fff;
  max-width: 370px;
  transition: 0.3s ease-out;
}

.work-card-img {
  display: none;
  object-fit: fill;
}

.sub-card h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 8px 16px 12px;
  margin: 0;
}

.sub-card p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0;
  padding: 0 16px 12px;
  padding-right: 10%;
}

.sub-card ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  padding: 0 16px 22px;
}

.sub-card-btn {
  width: 100%;
}

/* About Section */
.about-section {
  background-color: #1c1a19;
  color: #fff;
}

.about-div {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  background-image: url(images/about-me-bkg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.about-div h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  padding: 120px 0 0;
}

.about-div p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  text-align: left;
  padding: 24px 0;
}

.about-btn {
  width: 161px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  align-self: flex-start;
}

.about-btn-div {
  padding: 0 0 200px;
}

.about-me-underline hr {
  height: 0;
  border: 1px solid #fff;
  margin: 12px 0 0;
}

.about-me-techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 0;
}

.about-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section ul h3 {
  font-family: "Meera Inimai", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 0 0 26px;
}

.diamond {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  margin: 10px;
}

.circle {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  margin: 10px 10px 10px 0;
}

.square {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  margin: 10px 10px 10px 0;
}

.first-li-item {
  display: flex;
  justify-content: flex-start;
  margin-right: 30px;
  padding-top: 26px;
}

/* Submit Section */
.submit-footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 120px 0 0;
}

.submit-footer p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 15px 0 58px;
  text-align: center;
}

.submit-footer form ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}

.submit-footer form ul li {
  margin: 5px 0;
  width: 100%;
}

.main-form {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.submit-footer form ul li input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  outline: none;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
}

.submit-footer-msg {
  border: none;
  background-color: #fbf8f7;
  width: 100%;
  height: 140px;
  padding: 12px;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  outline: none;
}

.submit-footer-btn {
  display: flex;
  justify-content: center;
  padding: 24px 0 120px;
}

.submit-footer-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 24px 0;
}

.break-line {
  height: 1px;
  left: 0;
  right: 0;
  top: 0;
  background: #dfe1e6;
}

.submit-form {
  display: flex;
  flex-direction: column;
}

.submit-footer-last-name {
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .empty {
    flex: 1;
  }

  .navbar-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  .main-text p {
    padding: 10px 0;
    max-width: 45%;
  }

  .main-body {
    padding-left: 0;
    flex-direction: row;
    align-items: center;
    background-image: url(images/Illustration-header.svg);
    background-repeat: no-repeat;
    background-size: 33%;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .icon {
    flex-direction: column;
    margin: 0 40px;
    gap: 15px;
  }

  .navbar-menu li {
    margin-left: 20px;
  }

  .hand-burger {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .main-card img {
    height: 75%;
  }

  .main-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 350px;
  }

  .main-card-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 24px;
    padding: 0 10px;
    gap: 10px;
  }

  .work-section {
    width: auto;
  }

  .sub-card-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 20px 0;
  }

  .about-div {
    display: flex;
    flex-direction: column;
    background-image: url(images/about-me-bkg-window.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 50%;
  }

  .sub-card .about-div {
    background-image: url(images/About-Frame.svg);
    background-repeat: no-repeat;
    background-position: center right;
  }

  .about-div p {
    margin-right: 50%;
  }

  .about-me-techs {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .main-form {
    flex-direction: row;
    gap: 24px;
  }

  .main-form p {
    width: 40vw;
    text-align: left;
  }

  .submit-footer-last-name {
    width: 100%;
    visibility: visible;
    display: flex;
  }

  .submit-form {
    width: 100%;
  }

  .submit-form ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .name-form {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }

  .submit-footer-first-name {
    width: 100%;
  }

  .submit-footer-btn {
    display: flex;
    justify-content: flex-start;
  }

  .navbar-menu a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .sub-card-btn {
    display: none;
  }

  .sub-card-div {
    padding-top: 50px;
  }

  .sub-card:hover .sub-card-btn {
    display: inline;
  }

  .sub-card:hover .sub-card-div {
    visibility: hidden;
  }
}
